.page {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.page > * {
  // enforcing page direct children to not cause it to be overflowed
  max-width: 100%;
  max-height: 100%;
  // -----------------------------------------------------------------
  // enforce children to fill the page
  height: 100%;
  width: 100%;
  // ---------------------------------

  // anti-padding bad effects
  box-sizing: border-box;
}
