name: Continuous Integration

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    name: TypeScript Build
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      # disabled until prettier config is configured properly
      # - name: Check Format
      #   id: npm-format-check
      #   run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      # disabled until test are added
      # - name: Test
      #   id: npm-ci-test
      #   run: npm run ci-test

      - name: Build
        id: npm-build
        run: npm run build

      # - name: Archive artifact
      #   shell: sh
      #   run: |
      #     echo ::group::Archive artifact
      #     tar -cvf "$RUNNER_TEMP/artifact.tar" -C "./html-flip-book-react/html-flip-book-example/dist" .
      #     if [ -f "$RUNNER_TEMP/artifact.tar" ]; then
      #       echo "Artifact tar created successfully."
      #     else
      #       echo "Failed to create artifact tar."
      #       exit 1
      #     fi
      #     echo ::endgroup::

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        id: upload-pages-artifact
        uses: actions/upload-pages-artifact@v4
        with:
          name: github-pages
          path: ./html-flip-book-react/html-flip-book-react-example/dist
          retention-days: 15

  deploy-page:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      # environment created automatically by GitHub
      name: github-pages
      url: https://doradsoft.github.io/html-flip-book/

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
